@import "./variabels";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  color: $primary !important;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.mobile-view {
  display: none;
  visibility: hidden;
  @media screen and (min-width: 0px) and (max-width: 799px) {
    display: block;
    visibility: inherit;
  }
}

.desktop-view {
  display: none;
  visibility: hidden;
  @media screen and (min-width: 800px) {
    display: block;
    visibility: inherit;
  }
}

.pagination .active {
  a {
    background-color: $primary !important;
    color: #fff !important;
  }
}
